doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/style/dashboard.css")
    // Include Bootstrap CSS here
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    // Add your custom CSS link here, if any
  body

    nav.navbar.navbar-expand-lg.navbar-light.bg-light.mt-4
      a.navbar-brand(href='/dashboard') Udemy
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.mx-4
          li.nav-item
            a.nav-link(href='/my-courses', style='font-size: 1.2rem;') My-Courses
          li.nav-item
            a.nav-link(href='/add-course', style='font-size: 1.2rem;') Add-Course 
          li.nav-item
          li.nav-item
            a.nav-link(href='/', style='font-size: 1.2rem;') Login/SignUp
          li.nav-item 
            a.nav-link.disabled(href='#', style='font-size: 1.2rem;') Developer





    // Use Bootstrap card classes to create a card grid
    .container.mt-4
      .row
        // Loop through each card and create a Bootstrap card
        each card in all_courses_available
          .col-md-4.mb-4(style='margin-top:25px;')
            .card(style="width: 18rem;  ")
              img.card-img-top(src=card.image, alt="Card Image")
              .card-body.text-center
                p.card-text= card.description
                p.card-text.price= card.price + '$'
                form(action='/dashboard', method='post')
                  input(type='hidden', name='course', value=JSON.stringify(card))
                  button.btn.btn-primary Enroll
                  
    // Include Bootstrap JavaScript here
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
